<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />

<title>New Status | Status Posting</title>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" th:href="@{/dashboard}">Status Posting</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse pull-right">
				<ul class="nav navbar-nav">
					<li sec:authorize="isAuthenticated()"><a th:href="@{/dashboard}">Dashboard</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">
		<div class="row" style="margin-top: 50px;">
			<div class="col-md-6 col-md-offset-3">
			<h1>Status Information</h1>
				<form th:action="@{/statuspost/form}" th:object="${userStatus}" method="post">
						<div class="form-group" th:classappend="${#fields.hasErrors('status')}? 'has-error':''">
							<label for="status" class="control-label">Status<span class="text-danger"> *</span></label> 
							<textarea id="status" class="form-control" th:field="*{status}" required></textarea>
							<p class="error-message" th:each="error: ${#fields.errors('status')}" th:text="${error}">Validation error</p>
						</div>
						
						<div class="row">
							<div class="col-md-6">
								<div class="form-group" th:classappend="${#fields.hasErrors('isPublic')}? 'has-error':''">
									<label for="isPublic" class="control-label">Choose Policy<span class="text-danger"> *</span></label><br>
									<label> 
										<input type="radio" th:field="*{isPublic}" th:value="1"> Public
									</label>
									<label> 
										<input type="radio" th:field="*{isPublic}" th:value="0"> Private 
									</label>
									<p class="error-message" th:each="error: ${#fields.errors('isPublic')}" th:text="${error}">Validation error</p>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group" th:classappend="${#fields.hasErrors('isPinStatus')}? 'has-error':''">
									<label> 
										<input type="checkbox" th:field="*{isPinStatus}" th:value="1"> Is Pin Status?
									</label>
									<p class="error-message" th:each="error: ${#fields.errors('isPinStatus')}" th:text="${error}">Validation error</p>
								</div>
							</div>
						</div>
						
						<div class="form-group" th:classappend="${#fields.hasErrors('location')}? 'has-error':''">
							<label for="location" class="control-label">Location<span class="text-danger"> *</span></label> 
							<select class="selectpicker form-control" data-live-search="true" data-size="10" title="Please Select ..." th:field="*{location}" required>
								<option value="">Please Select ...</option>
								<option th:each="item : ${locations}" th:value="${item.id}" th:text="${item.location}" >Select Location</option>
							</select>
							<p class="error-message" th:each="error: ${#fields.errors('location')}" th:text="${error}">Validation error</p>
						</div>
						
						<button type="submit" class="btn btn-primary pull-right">Post Status</button>	
									
				</form>
			</div>
		</div>
	</div>

	<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</body>
</html>